<!-- footer-inner -->

<div class="container">
    <div class="footer__inner">
        <div class="footer__column">
            <img
                src="./assets/img/logo/logo-footer.png"
                alt=""
                class="logo footer__logo"
            />

            <div class="footer__wrap">
                <p class="footer__text">Gửi email cho chúng tôi:</p>
                <a class="footer__mail" href="mailto:">ducdo2000@gmail.com</a>
            </div>
        </div>

        <div class="footer__column">
            <h3 class="footer__heading">Đường dẫn nhanh</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="./product-all.html"
                        >Tất cả sản phẩm</a
                    >
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="./product-all.html"
                        >Bộ sưu tập</a
                    >
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="./blog.html">Blog</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Thông tin liên hệ</a>
                </li>
            </ul>
        </div>

        <div class="footer__column">
            <h3 class="footer__heading">Thông tin</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="">Gói quà và lời nhắn</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Giao hàng</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Chính sách hoàn tiền</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Chính sách bảo mật</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Điều khoản bán hàng</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Thông báo pháp lý</a>
                </li>

                <li class="footer__item">
                    <a class="footer__link" href="">Điều khoản sử dụng</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer__separate"></div>

<!-- footer-bottom -->

<div class="container">
    <div class="footer__bottom">
        <div class="footer__icon-row">
            <a class="footer__icon-wrap" href="#!">
                <div>
                    <img
                        src="./assets/icon/face.svg"
                        alt=""
                        class="footer__icon"
                    />
                </div>
            </a>

            <a class="footer__icon-wrap" href="#!">
                <div>
                    <img
                        src="./assets/icon/tictok.svg"
                        alt=""
                        class="footer__icon"
                    />
                </div>
            </a>

            <a class="footer__icon-wrap" href="#!">
                <div>
                    <img
                        src="./assets/icon/twit.svg"
                        alt=""
                        class="footer__icon"
                    />
                </div>
            </a>

            <a class="footer__icon-wrap" href="#!">
                <div>
                    <img
                        src="./assets/icon/youtobe.svg"
                        alt=""
                        class="footer__icon"
                    />
                </div>
            </a>

            <a class="footer__icon-wrap" href="#!">
                <div>
                    <img
                        src="../assets/icon/inta.svg"
                        alt=""
                        class="footer__icon"
                    />
                </div>
            </a>
        </div>

        <p class="footer__bottom-desc">
            © 2024, MD Parfums Thương mại điện tử được hỗ trợ bởi Shopify
        </p>
    </div>
</div>
