<div class="container">
    <div class="header__inner">
        <!-- toggle-menu -->

        <button class="js-toggle" toggle-target="#nav">
            <img
                src="./assets/icon/menu.svg"
                alt=""
                class="toggle__menu icon d-none d-lg-block"
            />
        </button>

        <!-- logo -->

        <a href="./index.html"
            ><img src="./assets/img/logo/logo-header.png" alt="" class="logo"
        /></a>

        <!-- nav -->

        <div id="nav" class="nav hide">
            <div
                class="nav__close js-toggle d-none d-lg-block"
                toggle-target="#nav"
            >
                &times;
            </div>

            <ul class="nav__list d-flex">
                <li class="nav__item">
                    <a class="nav__link" href="./product-all.html"
                        >Tất cả sản phẩm
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#!"
                        >Bộ sưu tập
                        <img
                            src="./assets/icon/arow-down.svg"
                            alt=""
                            class="nav__icon icon"
                        />
                    </a>

                    <ul class="nav__item-list">
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="./product-man.html"
                                >Nước hoa nam</a
                            >
                        </li>
                        <li class="nav__item-item">
                            <a
                                class="nav__item-link"
                                href="../product-woman.html"
                                >Nước hoa nữ</a
                            >
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="./product-all.html"
                                >Nước hoa Unisex</a
                            >
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="../product-all.html"
                                >Bán chạy nhất</a
                            >
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="./product-sale.html"
                                >Sản phẩm đang giảm giá</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="./blog.html">Blog</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="./contact.html"
                        >Thông tin liên hệ</a
                    >
                </li>
                <li class="nav__item d-none">
                    <a class="nav__link" href="./sign-up.html">Đăng Xuất</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="./sign-up.html"
                        >Đăng ký/Đăng nhập</a
                    >
                </li>
            </ul>
        </div>

        <!-- overlay -->
        <div class="overlay js-toggle" toggle-target="#nav"></div>

        <!-- action -->

        <div class="header__action">
            <button
                class="header__action-icon-wrap js-toggle header__action-btn"
                toggle-target="#modal-header"
            >
                <img
                    src="./assets/icon/search.svg"
                    alt=""
                    class="header__action-icon"
                />
            </button>

            <a href="#!" class="d-sm-none">
                <div class="header__action-icon-wrap d-sm-none">
                    <img
                        src="./assets/icon/user.svg"
                        alt=""
                        class="header__action-icon"
                    />

                    <div class="dropdown hide">
                        <!-- dropdown-inner -->
                        <div class="dropdown__inner-price dropdown__user">
                            <a href="./user.html" class="dropdown__desc"
                                >Trang cá nhân</a
                            >
                            <a href="./sign-in.html" class="dropdown__desc"
                                >Đăng Xuất</a
                            >
                        </div>
                    </div>
                </div>
            </a>

            <a href="./shipping.html">
                <div class="header__action-icon-wrap">
                    <img
                        src="./assets/icon/cart.svg"
                        alt=""
                        class="header__action-icon"
                    />
                    <span class="header__action-icon-quantity">1</span>
                </div>
            </a>
        </div>
    </div>
</div>
