<div class="container">
    <div class="header__inner">
        <!-- toggle-menu -->

        <button class="js-toggle" toggle-target="#nav">
            <img
                src="./assets/icon/menu.svg"
                alt=""
                class="toggle__menu icon d-none d-lg-block"
            />
        </button>

        <!-- logo -->

        <a href="#!"
            ><img src="./assets/img/logo/logo-header.png" alt="" class="logo"
        /></a>

        <!-- nav -->

        <div id="nav" class="nav">
            <ul class="nav__list d-flex">
                <li class="nav__item">
                    <a class="nav__link" href="#!">Tất cả sản phẩm </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#!"
                        >Bộ sưu tập
                        <img
                            src="./assets/icon/arow-down.svg"
                            alt=""
                            class="nav__icon icon"
                        />
                    </a>

                    <ul class="nav__item-list">
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!">Nước hoa nam</a>
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!">Nước hoa nữ</a>
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!"
                                >Nước hoa Unisex</a
                            >
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!"
                                >Bán chạy nhất</a
                            >
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!"
                                >Sản phẩm đang giảm giá</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#!">Blog</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#!">Thông tin liên hệ</a>
                </li>
            </ul>
        </div>

        <!-- overlay -->
        <div class="overlay"></div>

        <!-- action -->

        <div class="header__action">
            <button
                class="header__action-icon-wrap js-toggle"
                toggle-target="#modal-header"
            >
                <img
                    src="./assets/icon/search.svg"
                    alt=""
                    class="header__action-icon"
                />
            </button>

            <a href="#!">
                <div class="header__action-icon-wrap">
                    <img
                        src="./assets/icon/user.svg"
                        alt=""
                        class="header__action-icon"
                    />
                </div>
            </a>

            <a href="#!">
                <div class="header__action-icon-wrap">
                    <img
                        src="./assets/icon/cart.svg"
                        alt=""
                        class="header__action-icon"
                    />
                </div>
            </a>
        </div>
    </div>
</div>
