<div class="container">
    <div class="header__inner">
        <!-- logo -->

        <img src="./assets/img/logo/logo-header.png" alt="" class="logo" />

        <!-- nav -->

        <div class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#!">Tất cả sản phẩm</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#!">Bộ sưu tập</a>

                    <ul class="nav__item-list">
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!">Nước hoa nam</a>
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!">Nước hoa nữ</a>
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!"
                                >Nước hoa Unisex</a
                            >
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!"
                                >Bán chạy nhất</a
                            >
                        </li>
                        <li class="nav__item-item">
                            <a class="nav__item-link" href="#!"
                                >Sản phẩm đang giảm giá</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#!">Blog</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#!">Thông tin liên hệ</a>
                </li>
            </ul>
        </div>

        <!-- action -->

        <div class="header__action">
            <img
                src="./assets/icon/search.svg"
                alt=""
                class="header__action-icon"
            />
            <img
                src="./assets/icon/user.svg"
                alt=""
                class="header__action-icon"
            />
            <img
                src="./assets/icon/cart.svg"
                alt=""
                class="header__action-icon"
            />
        </div>
    </div>
</div>
