@use "../abstracts";

.header{
    border-bottom: 1px solid #eee;

    &__inner{
        display: flex;
        align-items: center;
        padding: 20px 0;

        @include abstracts.screen(lg){
            justify-content: space-between;
        }
        
    }

    &__action{

        display: flex;
        align-items: center;

        &-icon{
            width: 16px;
            height: 16px;
            transition: scale 0.3s;

            &:hover{
                transform: scale(1.2);
            }

            &-wrap{
                padding: 15px;
                position: relative;

                &:hover .dropdown{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &-icon-quantity{
            display: none;
            position: absolute;
            top: 5px;
            right: 10px;
            color: #fff;
            font-size: 1.2rem;

            &::after{
                position: absolute;
                z-index: -1;
                top: -1px;
                left: -5px;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #000;

            }
        }
    }
    
}

.nav{
    margin-right: auto;
    margin-left: 50px;

    @include abstracts.screen(lg){
        z-index: 2;
        position: fixed;
        margin: 0;
        inset: 0 50% 0 0;
        background-color: var(--nav-bg-color);
        border-radius: 0 20px 20px 0;
        box-shadow: 0px 40px 90px 20px var(--nav-shadow-color);
        transform: translateX(-100%);
        transition: all 0.5s;
    }

    @include abstracts.screen(sm){
        inset: 0 30% 0 0;
    }

    &.show{
        transform: translateX(0);

        & + .overlay{
            opacity: 1;
            visibility: visible;
        }
    }

    &__close{
        padding: 15px;
        font-size: 3rem;
    }


    &__list{
        align-items: center;
        gap: 20px;

        @include abstracts.screen(lg){
            padding: 0 0 20px 0;
            flex-direction: column;
            align-items: flex-start;
        }
       
    }

    &__item{
        position: relative;
        
        @include abstracts.screen(lg){
            width: 100%;
        }

        &:hover .nav__item-list{
           opacity: 1;
           visibility: visible;
           transform: translateY(0);

           @include abstracts.screen(lg){
            display: block;
           }
        }

        &:hover .nav__icon{
            rotate: 0deg;
        }

        &-list{
            position: absolute;
            z-index: 1;
            background-color: var(--nav-list-bg-color);
            top: 50px;
            left: 10px;
            border: 1px solid var(--nav-list-border-color);
            box-shadow: 0px 40px 90px 20px var(--nav-list-shadow-color);
            border-radius: 10px;
            padding: 15px;
            width: 200px;
            opacity: 0;
            transform: translateY(-15px);
            visibility: hidden;
            transition: all 0.5s;   

            @include abstracts.screen(lg){
                position: initial;
                box-shadow: initial;
                border: none;
                padding: 0 20px;
                width: 100%;
                display: none;
            }
        }
    }

    &__icon{
        width: 12px;
        height: 12px;
        rotate: 180deg;
        transition: rotate 0.3s;
    }



    &__link, &__item-link{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 20px 10px;

        @include abstracts.screen(lg){
            padding: 15px 0;
            width: 100%;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
        }

        &:hover{
            text-decoration: underline;
            text-underline-offset: 3px;

            @include abstracts.screen(lg){
                text-decoration: none;
                background-color: var( --nav-link-hover-bg-color);
            }
        }
        
    }

    &__item:last-child .nav__link{
        display: none;

        @include abstracts.screen(sm){
            display: block;
        }
    }

    
}

.toggle__menu{
    width: 24px;
    height: 24px;
}

