.btn{

    &__wrap{
        border: 1px solid #121212;
        padding: 10px 15px;
        font-size: 1.6rem;
        transition: background-color 0.3s;
        height: 40px;
        white-space: nowrap;

        &:hover{
            background-color: #121212;
            color: #fff;
        }
    }

    &__text{
        &:hover{
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }
}