.page{

    &__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 20px;

        &-icon{
            width: 12px;
            height: 12px;
            rotate: -90deg;
        }

        &-number:hover{
            text-decoration: underline;
            text-underline-offset: 3px;
        }

        &-number-active{
            background-color:var(--product-number-item-bg-color);
            padding: 4px 6px;
            border: 1px solid var(--product-number-item--border-color);

            &:hover{
                text-decoration: none;
            }
        }
    }
}