@use "../abstracts";

*, ::after, ::before{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
}

.icon{
    filter: var(--icon);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

button, input, textarea, select{
    border: none; 
    outline: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button{
    user-select: none;
    cursor: pointer;
}

i, em{
    font-style: italic;
}

b, strong{
    font-weight: 600;
}

u{
    text-decoration: underline;
}

.home{

    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 50px 0 80px;
    }

    &__desc, &__heading{
        line-height: 1.5;
    }

    &__heading{
        font-size: 3.2rem;
        font-weight: 500;
    
        @include abstracts.screen(sm){
            font-size: 2.2rem;
        }
    }
    

    &__desc{
        font-size: 1.8rem;
        width: 620px;
        text-align: center;
        color: var(--text-desc-color);

        @include abstracts.screen(md){
            width: 100%;
        }

        @include abstracts.screen(sm){
            font-size: 1.6rem;
        }

    }
}

